= render 'shared/header'
.content_box
  .top_image
    .top_message 一緒にプレイできるチームメイトを探してみよう！
    =link_to "STREET CONNECTとは？","#", class: "top_message__discription"
  .content_title
    イベント一覧
  .cards_box
    = render 'shared/event_cards'
    = paginate(@events)
      
= render 'shared/footer'