= render 'shared/header'
.content_box
  .top_image
    %p.top_message
      一緒にプレイできるチームメイトを探してみよう！
      %br
      STREET CONNECTとは？
  .content_title
    イベント一覧
  .search_form
    -# %label(for="イベントを検索") イベントを検索
    %input#event_seach_field{:placeholder => "気になるイベントを検索してみよう", :type => "text"}/
  #event_search_result
  %ul.cards_box#event_index
    = render 'shared/event_cards'
    = paginate(@events)
      
= render 'shared/footer'