= render 'shared/header'
.top_image
  .top_message 一緒にプレイできるチームメイトを探してみよう！
  =link_to "STREET CONNECTとは？","#", class: "top_message__discription"

= link_to "新規イベント", new_event_path
= render 'shared/footer'