.event_info {
  border-bottom: 1px solid #999;
  padding: 3rem 1rem;
  max-width: 960px;
  margin: 0 auto;
  @media screen and (min-width:768px){
    padding: 3rem 5rem;
  }
  &__upper {
    margin: 0 auto;
  }
  .event_icon {
    text-align: center;
    &__content {
      width: 100%;
      max-height: 400px;
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }
  table {
    width: 100%;
    td {
      padding: 10px;
      letter-spacing: 1px;
    }
  }
  &__text_box {
    &--name {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 1rem 0;
    }
  }
  &__table {
    width: 100%;
    border-radius: 0.25rem;
    border-collapse: collapse;
    margin-bottom: 1rem;
    tr {
      border: 1px solid #dedede;
      border-collapse: collapse;
      font-size: 0.8rem;
      font-weight: 400;
      word-break: break-all;
      th {
        background-color: #eeeeee;
        width: 20%;
        padding: 0.5rem;
        @media screen and (min-width:768px) {
          width: 10%;
          }
        td {
          padding: 15px;
          width: 61%;
        }
      }
    }
    .owner_link {
      text-decoration: none;
      color: #222;
    }
  }
  
    .admin_btn {
      text-decoration: none;
      color: #a10000;
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid #a10000;
      border-radius: 1.5rem;
      padding: 0.5rem;
      margin: 1rem auto;
      display: block;
      text-align: center;
      width: 93%;
    }
    .join_btn {
      text-decoration: none;
      color: #eee;
      background-color: #a10000;
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid #a10000;
      border-radius: 1.5rem;
      padding: 0.5rem 0;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    .done_btn {
      text-decoration: none;
      color: #fff;
      background-color: #999;
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid #999;
      border-radius: 1.5rem;
      padding: 0.5rem 0;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    .user_content_title,
    .comment_content_title {
      font-size: 1rem;
      font-weight: bold;
      margin: 0.3rem 0;
      border-bottom: 1px solid #eee;
      @media screen and (min-width:1024px) {
      font-size: 1rem;
      }
    }
    .comments {
      width: 100%;
    }
    .comment_form {
      width: 100%;
      #comment_text {
        width: 100%;
        margin: 0 auto;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        padding: 0.5rem 0;
      }
      input {
        appearance: none;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        padding: 0.5rem;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
      }
      &__content {
        width: 100%;
        display: flex;
        margin-top: 0.8rem;
        position: relative;
        .comment_links {
          text-decoration: none;
        }
        .comment_right {
          padding-left: 1rem;
          word-wrap: break-word;
          width: 100%;
          
        }
          &--img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            display: inline-block;
          }
          &--name {
            text-decoration: none;
            color: #222;
            font-weight: bold;
            font-size: 0.6rem;
          }
          &--text {
            font-size: 0.6rem;
            max-width: 80%;
            @media screen and (min-width:1024px) {
              max-width: 85%;
            }
          }
          .comment_delete {
            .comment_time {
              position: absolute;
              right: 0.5rem;
              top: 0.5rem;
              font-size: 0.5rem;
              text-decoration: none;
              min-width: 2rem;
              display: block;
              color: #999;
            }
            &__link {
              position: absolute;
              right: 0.5rem;
              bottom: 0.5rem;
              font-size: 0.7rem;
              text-decoration: none;
              color: #999;
              min-width: 2rem;
              display: block;
            }
          }
        }

      }
        
    
}