.top_image {
  margin: 0 auto;
  margin-top: 4rem;
  position: relative;
  width: 50%;
  height: 30vh;
  border-radius: 0.5rem;
  // background: linear-gradient(45deg, #ffff00 0%, #ff3967 45%, #ff3967 55%, #26a9d9  100%);
  background:  linear-gradient(45deg, rgba(179, 255, 179,1) 0%,rgba(178, 254, 179,1) 20%,rgba(125, 205, 255,1) 55%, #ffff00 100%);
  background-size: 800% 600%;
  text-align: center;
  animation: AnimationName 10s ease -1s infinite;
  .top_message {
    color: #333;
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 7rem;
    &__discription {
      color: #333;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
