.form-container {
  #event_name {
    width: 100%;
    border: none;
    border-bottom: 1px solid #212529;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
  }

  #event_place {
    width: 100%;
    border: none;
    border-bottom: 1px solid #212529;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
  }

  #event_date {
    width: 100%;
    border: none;
    border-bottom: 1px solid #212529;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
  }

  #event_time {
    width: 100%;
    border: none;
    border-bottom: 1px solid #212529;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0;
  }
  #event_description {
    width: 100%;
    outline: 0;
    height: 12rem;
    padding: 0.7rem;
  }
}