.content_box {
  max-width: 960px;
  margin: 0 auto;
  .top_image {
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    width: 100%;
    height: 20vh;
    background: linear-gradient(45deg, #ffff00 0%, #ff6b8d 45%, #ff6085 55%, #a9e8ff 100%);
    background-size: 800% 600%;
    text-align: center;
    animation: AnimationName 10s ease -1s infinite;
    @media screen and (min-width:768px) {
      max-width: 960px;
      border-radius: 0.25rem;
    }
    .top_message {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 0.7rem;
      text-shadow: 0px 0px 5px #999;
      @media screen and (min-width:425px) and (max-width:1024px){
        font-size: 1rem;
      }
      @media screen and (min-width:1024px) {
        font-size: 1.2rem;
      }
      &__discription {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0px 0px 5px #999;
      }
    }
  }
  .content_title {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
    font-weight: bold;
  }
  .search_form {
    #event_seach_field {
      width: 80%;
      border-radius: 1.5rem;
      border: 1px solid #ccc;
      outline: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }
  .no_event {
    text-align: center;
    width: 100%;
    padding: 3rem 0;
    font-weight: bold;
  }

  .cards_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width:768px) and (max-width:1024px) {
      justify-content: space-between;
      max-width: 768px;
      margin: 0 auto;
    }
    @media screen and (min-width: 1024px) {
      justify-content: space-between;
      max-width: 960px;
      margin: 0 auto;
    }
    .event_link {
      text-decoration: none;
      color: #222;
      max-width: 960px;
    }
      .event_card {
        width: 300px;
        height: 290px;
        border: 1px solid #ccc;
        margin: 1rem 0;
        border-radius: 0.25rem;
        @media screen and (min-width:400px) {
          width: 380px;
          height: 370px;
        }
        @media screen and (min-width:768px) and (max-width:1024px){
          width: 370px;
          height: 360px;
          margin: 0.3rem;
        }
        @media screen and (min-width: 1024px) {
          width: 468px;
          height: 459px;
          margin: 0.3rem;
        }
      .event_image {
        &__content {
        width: 300px;
        height: 160px;
        object-fit: cover;
        @media screen and (min-width:400px) {
          width: 380px;
          height: 240px;
        }
        @media screen and (min-width:768px) and (max-width:1024px){
          width: 370px;
          height: 230px;
        }
        @media screen and (min-width: 1024px) {
          width: 468px;
          height: 329px;
        }
        }
      }
      &__lower {
        padding: 0.5rem 0.8rem;
        // letter-spacing: 3px;
        font-size: 0.9rem;
        .event_name {
          font-weight: bold;
          font-size: 1rem;
          text-decoration: none;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  
    .event_card:hover {
      box-shadow: 5px 5px 5px #eee;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    .event_post_path {
      text-decoration: none;
      color: #333;
    }
      .event_post {
        width: 80px;
        height: 80px;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 10px;
        bottom: 20px;
        background-color: #FFF;
        border: 1px solid #ccc;
        opacity: 0.9;
        @media screen and (min-width:425px){
          width: 120px;
          height: 120px;
          right: 30px;
          bottom: 30px;
        }
        @media screen and (min-width:768px){
          right: 10%;
        }
        @media screen and (min-width:1440px){
          right: 20%;
        }
      
      &__btn {
        &--text {
          font-weight: bold;
          position: absolute;
          top: 17%;
          left: 17%;
          font-size: 0.5rem;
          @media screen and (min-width:425px) {
            font-size: 0.8rem;
          }
        }
        &--icon i{
          position: absolute;
          left: 25%;
          top: 35%;
          font-size: 2rem;
          @media screen and (min-width:425px) {
            font-size: 3rem;
          }
        }
      }
    }
    .event_post:hover {
      opacity: 1;
      transition: 0.5s ease-out;
    }
}
