header {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  @media screen and (min-width: 426px) {
    padding: 1rem;
  }
  .header_logo {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 36px;
    @media screen and (min-width: 426px) {
      font-size: 1.4rem;
    }
  }
  .header_right {
    .notifications_link {
      text-decoration: none;
    }
    &__my_page {
      text-decoration: none;
      color: #222;
      font-weight: bold;
      font-size: 0.8rem;
      border: 1.5px solid #212529;
      padding: 9px 5px;
      border-radius: 5px;
      cursor: pointer;
      display: none;
      line-height: 36px;
      @media screen and (min-width: 426px) {
        padding: 10px;
        display: inline;
      }
    }
    &__mypage_min {
      text-decoration: none;
    }
    .fas.fa-user {
      color: #222;
      font-size: 1.2rem;
      @media screen and (min-width: 426px) {
        display: none;
      }
    }
    &__sign_in {
      line-height: 36px;
      text-decoration: none;
      color: #222;
      font-weight: bold;
      font-size: 0.5rem;
      padding: 5px;
      cursor: pointer;
      @media screen and (min-width:768px) {
        font-size: 0.8rem;
        padding: 10px;
      }
    }
    &__sign_up {
      text-decoration: none;
      color: #222;
      font-weight: bold;
      font-size: 0.5rem;
      border: 1.5px solid #212529;
      padding: 4px 5px;
      border-radius: 5px;
      line-height: 36px;
      cursor: pointer;
      @media screen and (min-width:768px) {
        font-size: 0.8rem;
        padding: 10px;
      }
    }
  }
  
}
