.fa-bell {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  margin: 0.5rem 1rem 0 0;
  position: relative;
}

.n-circle {
  position: absolute;
  padding-left: 0.5rem;
  padding-top: 0rem;
  color:  #ff956b ;
}

