.fa-bell {
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin: 0 0.5rem 0 0;
  position: relative;
}

.n-circle {
  position: absolute;
  padding-left: 0.5rem;
  top: 0rem;
  color:  #ff956b ;
}

