.bell_icon {
  text-decoration: none;
  color: black;
}

.n-circle {
  position: absolute;
  padding-left: 0.5rem;
  padding-top: 0rem;
  color:  #ff6b8d ;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}