.user_info {
  border-bottom: 1px solid #999;
  padding: 3rem  1rem;
  @media screen and (min-width:768px){
    border-bottom: 1px solid #999;
    padding: 3rem 5rem;
  }
  &__upper {
    margin: 0 auto;
    display: flex;
    justify-self: start;
    .user_icon {
      text-align: center;
      &__content {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        @media screen and (min-width:768px){
          width: 200px;
          height: 200px;
        }
      }
    }
    .user_links {
      margin: auto 0;
      padding-left: 3rem;
      width: 11rem;
      &__instagram {
        margin-bottom: 1rem;
      }
      // &__admins {
      //   // margin-bottom: 1rem;
      // }
      // &__edit_prof {
      //   // margin-right: 1rem;
      // }
      .link_btn_1 {
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        color: #fff;
        display: block;
        width: 100%;
        background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        overflow: hidden;
        padding: 0.5rem 0;
        border-radius: 2rem;
        font-size: 0.8rem;
      }
      .link_btn_2 {
        text-decoration: none;
        text-align: center;
        color: #555;
        font-weight: bold;
        background-color: #ccc;
        padding: 0.5rem 0;
        display: block;
        width: 100%;
        border-radius: 1rem;
        font-size: 0.8rem;
        display: block;
        width: 100%;
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
      .follow_done_btn {
        padding: 0.5rem 0;
        border-style: none;
        background-color: #eee;
        color: #555;
        border-radius: 2rem;
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
      .follow_btn {
        padding: 0.5rem 0;
        border-style: none;
        background-color: #a10000;
        color: #fff;
        border-radius: 2rem;
        font-weight: bold;
        display: block;
        width: 100%;
        font-size: 0.8rem;
      }
      .chat_btn  {
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: lightblue;
        display: block;
        width: 100%;
        border-radius: 1rem;
        padding: 0.5rem 0px;
        font-size: 0.8rem;
      }
      .matching_alert {
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        padding: 0.3rem 0;
      }

    }
  }
    &__text_box {
      padding: 1rem;
      &--name {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem 0;
        word-wrap: break-word;
      }
      &--others {
        margin-bottom: 1rem;
        word-wrap: break-word;
      }
    }
    &__lower {
      border-top: 1px solid #ccc;
      .user_tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        &__item {
          padding: 0.5rem;
          color: #555;
          font-size: 0.4rem;
          cursor: pointer;
        }
        &__item.active {
          color: #222;
          border-bottom: 1px solid #222;
          font-weight: bold;
        }
      }
      .user_cards_box {
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        .event_links {
          text-decoration: none;
          .event_mini_card {
            display: block;
            width: 82px;
            height: 105px;
            text-align: center;
            background-color: rgb(245, 245, 245);
            border-radius: 0.5rem;
            padding: 0.3rem 0;
            margin: 0.2rem 0.43rem;
            @media screen and (min-width:400px) and (max-width:768px){
              width: 117px;
              margin: 0.2rem 0.4rem;
            }
            @media screen and (min-width:1024px) {
              width: 117px;
              margin: 1rem 1.3rem;
            }
            &__icon {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 50%;
            }
            &__name {
              color: #222;
              font-weight: bold;
              font-size: 0.5rem;
              text-decoration: none;
              max-width: 60px;
              margin: 0 auto;
            }
          }
        }
      }
      .user_cards_box.show {
        display: flex;
      }
    }
  
}